@import "var/colors";
@import "var/_global.scss";
@import "parent/reset";
@import "parent/global";
@import "components/nav";
@import "components/header";
@import "components/section-main";
@import "components/footer";